* {
    background-color: #262626;
    color: #C3B8A3;
    font-family: "Courier New", monospace;
    font-size: 15px;
}

.centering {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 90px;
    /* border: 1px solid white; */

}

    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /* border: 1px solid white; */
    }
    
        .title {
            font-size: 35px;
            margin-top: 30px;
            /* border: 1px solid white; */
        }

        .subtitle {
            font-size: 20px;
            margin-top: -25px;
            /* border: 1px solid white; */
        }

        .date {
            font-size: 12px;
            margin-top: -5px;
            /* border: 1px solid white; */
        }

        .navigation-container {
            display: flex;
            justify-content: center;
            /* border: 1px solid white; */
        }

            .navigation-button {
                /* font-size: 10px; */
                margin: 30px 10px;
                text-align: center;
                padding: .5em 1.5em;
                border: 1px solid #C3B8A3;
                text-decoration: none;
                border-radius: 5px;
            }

            .navigation-button:hover {
                background-color: #363636;
            }

    .body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 650px;
        /* border: 1px solid white; */
    }

        .body-header {
            font-size: 20px;
            font-weight: 600;
            margin-top: 60px;
            margin-bottom: 40px;
            /* border: 1px solid white; */
        }
        
        .body-paragraph p {
            line-height: 1.5;
            margin-bottom: 10px;
        }
    
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 40px;
    }

        .axe {
            margin-top: 30px;
        }